<header>
    <nav class="navbar">
        <div class="logo">
            ECOMMERCE-DH
        </div>
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="hamburger">&#9776;</label>
        <ul class="nav-links">
            <li><a href="/">Inicio</a></li>
            <li class="dropdown">
                <a href="#">Categorías</a>
                <ul class="dropdown-content">
                    <li><a href="/products/remeras">Remeras</a></li>
                    <li><a href="/products/shorts">Shorts</a></li>
                    <li><a href="/products/calzados">Calzados</a></li>
                    <li><a href="/products/accesorios">Accesorios</a></li>
                </ul>
            </li>
            <li><a href="#">Carrito</a></li>
            <li class="dropdown">
                <a href="#">Usuario</a>
                <ul class="dropdown-content">
                    <li><a href="/users/register">Regístrate</a></li>
                    <li><a href="/users/login">Ingresa</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>